body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.subforum {
    margin: 25px 0;
    padding: 15px;
    background-color: #3c763d;
    border-radius: 1.25em;
}