extends layout

block content
    .content-margins
        .container
            h1.page-title Add a post to #{pageHeader.title}
            .row
                .col-xs-12.col-md-9
                    form.form-horizontal(action="", method="post", role="form")
                        - if(error === "val")
                            .alert.alert-danger(role="alert") All fields are required, please try again.
                        .form-group
                            label.col-xs-10.col-sm-2.control-label.basic-text(for="title") Title
                            .col-xs-12.col-sm-10
                                input#title.form-control.form-input-mod(name="title")
                        .form-group
                            label.col-sm-2.control-label.basic-text(for="description") Description
                            .col-sm-10
                                textarea#description.form-control.form-input-mod(name="description", rows="5")
                        button.pull-right.buttonGeneric.hvr-underline-from-center
                            span Add my post