extends layout

block content
    .content-margins-extended
        h1.page-title.center-text= message
        h2.basic-title.center-text
            b #{error.status}
        - if(error.stack != undefined)
            pre.basic-text #{error.stack}
