extends layout

block content
     each forum in forums
         .forum-box.clearfix
             - var forumUrl = '/forum/' + forum._id
             a(href=forumUrl)
                h2 #{forum.title}
             p #{forum.description}
             p.pull-right Number of posts: #{forum.posts.length}