extends layout

include _includes/sharedFunctions

block content
    h1= title
    p Welcome to #{title}
    .row
        .col-md-6
            form(action="", method="post", role="form")
                button.btn.btn-default(name="foo", value="changeUserType") Change user type to
                    +pickUserTypeInverse(userType)
        .col-md-6
            p.pull-right You are currently: #{userType}
