extends layout

include _includes/sharedFunctions

block content
    h1= title
    p Welcome to #{title}
    .row
        .col-md-6
            form(action="", method="post", role="form")
                +pickUserType(userType)
        .col-md-6
            p You are currently: #{userType}
