doctype html
html
    head
        title= title
        link(rel="icon", href="tue-favicon.ico")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
    body
        .btn-group(style="margin: 50px auto;")
            a.btn.btn-default(href="/") Home
            - if(userType === 'student')
                a.btn.btn-default(href="/forum") Forum
            a.btn.btn-default(href="/about") About
        block content




        script(src="/javascripts/jquery-3.1.1.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")