extends layout

block content
    h1 Log In
    - if(errorMessage != undefined)
        .alert.alert-danger(role="alert") #{errorMessage}
    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="", method="post", role="form")
                .form-group
                    label.col-sm-2.control-label(for="username") Username (Your S-Number)
                    .col-sm-10
                        input#username.form-control(name="username")
                .form-group
                    label.col-sm-2.control-label(for="password") Password
                    .col-sm-10
                        input#password.form-control(type="password", name="password")
                button.btn.btn-default.pull-right Sign in!
        .col-xs-12.col-md-4
