extends layout

block content
    .content-margins-extended
        .container-fluid(style="margin-bottom: 20px;")
            h1.page-title Sign In
            - if(errorMessage != undefined)
                .alert.alert-error.alert-dismissable(role="alert")
                    a.close(href="#", data-dismiss="alert", aria-label="close") &times
                    span #{errorMessage}
            .row
                .col-md-9.col-sm-12
                    .col-helper
                        form.form-horizontal.clearfix(action="", method="post", role="form")
                            .form-group.input-form-group
                                label.control-label.basic-text(for="username") Username (Your S-Number)
                                +putUsernameField(errorMessage)
                                //input#username.form-control.form-input-mod(name="username", type="text", placeholder="Username")
                            .form-group.input-form-group
                                label.control-label.basic-text(for="password") Password
                                +putPasswordField(errorMessage)
                                //input#password.form-control.form-input-mod(name="password", type="password", placeholder="Password")
                            |
                            button.pull-right.buttonGeneric.hvr-underline-from-center
                                span Sign In.
                .col-md-3.col-sm-12
                    .col-helper
                        .generic-box
                            h2 Lorem Ipsum
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

