mixin pickUserTypeInverse(userType)
    - if(userType === 'student')
        =" Visitor"
    - else
        =" Student"

mixin pickUserType(userType)
    - if(userType === 'student')
        =" Student"
    - else
        =" Visitor"
